.selects {
    display: flex;
    flex-direction:column;
}
table, th, td {
    border: 3px solid black;
    width: "100%";
  }
.selected {
visibility: hidden;
}
.il {
visibility: visible;
}
select {
    margin-left: 10px;
}
p {
    margin-left: 15px;
}
.table {
    margin-top: 40px;
    margin-left: 10px;
}